<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.mycompany.afazeacbs.controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serviceServlet</servlet-name>
        <servlet-class>com.mycompany.afazeacbs.controller.serviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PackageServlet</servlet-name>
        <servlet-class>com.mycompany.afazeacbs.controller.PackageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>com.mycompany.afazeacbs.controller.StaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TreatmentServlet</servlet-name>
        <servlet-class>com.mycompany.afazeacbs.controller.TreatmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/img/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/newUser</url-pattern>
        <url-pattern>/editUser</url-pattern>
        <url-pattern>/insertUser</url-pattern>
        <url-pattern>/updateUser</url-pattern>
        <url-pattern>/deleteUser</url-pattern>
        <url-pattern>/listUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serviceServlet</servlet-name>
        <url-pattern>/newService</url-pattern>
        <url-pattern>/editService</url-pattern>
        <url-pattern>/insertService</url-pattern>
        <url-pattern>/updateService</url-pattern>
        <url-pattern>/deleteService</url-pattern>
        <url-pattern>/listService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PackageServlet</servlet-name>
        <url-pattern>/newPackage</url-pattern>
        <url-pattern>/editPackage</url-pattern>
        <url-pattern>/insertPackage</url-pattern>
        <url-pattern>/updatePackage</url-pattern>
        <url-pattern>/deletePackage</url-pattern>
        <url-pattern>/listPackage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/newStaff</url-pattern>
        <url-pattern>/editStaff</url-pattern>
        <url-pattern>/insertStaff</url-pattern>
        <url-pattern>/updateStaff</url-pattern>
        <url-pattern>/deleteStaff</url-pattern>
        <url-pattern>/listStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TreatmentServlet</servlet-name>
        <url-pattern>/newTreatment</url-pattern>
        <url-pattern>/editTreatment</url-pattern>
        <url-pattern>/insertTreatment</url-pattern>
        <url-pattern>/updateTreatment</url-pattern>
        <url-pattern>/deleteTreatment</url-pattern>
        <url-pattern>/listTreatment</url-pattern>    
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
